asgiref
dj-database-url
Django
django-cloudinary-storage
django-cors-headers
djangorestframework
djangorestframework-simplejwt
gunicorn
Pillow
psycopg2-binary
python-dotenv
pytz
requests
sqlparse
whitenoise
cloudinary
urllib3
djoser
social-auth-app-django
social-auth-core
